.services{
    flex-direction: column;
}
.home h1{
       font-size: 37px;
}
.home p{
       font-size: 17px;
}

.home {
    padding: 21px 20px;
    height: 498px;
}
.home::before{
   height: 68%;
}
.navbar{
    flex-direction: column;
    
    align-items: center;
}
/* .navbar img{
    margin: 0px 0px;
} */
.clients{
    overflow: hidden;
}
/* ul a {
    padding: 0px 0px;

} */
html{
    scroll-behavior: smooth;
}
.navbar ul{
    margin: 5px 0px 0px 0px;
    padding: 5px 0px 0px 0px;
}
.navbar ul li{
    
    padding: 5px 0px 0px 35px;
    width: 101px;
}
.navbar ul li a{
    font-size: 1rem;;
    padding: 5px 0px 0px 0px;
}
.clients{
    flex-wrap: wrap;
}
.clients img{
      width: 100px;
}
